<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">

                <div class="form-group" ngModelGroup="projectData" #projectDataRef="ngModelGroup">
                    <div class="form-group">
                        <label>Project name</label>
                        <input type="text" class="form-control" name="projectName" ngModel required #projectNmRef="ngModel">
                        <span class="help-block" *ngIf="!projectNmRef.valid && projectNmRef.touched">Project name is required</span>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" name="emailAddress" ngModel email required #email="ngModel">
                        <span class="help-block" *ngIf="!email.valid && email.touched">Email invalid</span>

                    </div>
                    <div class="form-group">
                        <select name="" name="projectStatus" class="form-control" ngModel>
                            <option value="Stable">Stable</option>
                            <option value="Critical">Critical</option>
                            <option value="Finished">Finished</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>